 /* HOME Hero 1.0 */
.hero_section{
  position: relative;
  background: url(../assets/hero/hero-1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 170px;
  padding-bottom: 90px;
}